# macOS system files
.DS_Store

# Python cache files
__pycache__/

# Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Temporary files and swap files
*.swp

# Log files
*.log

# Other system files you want to ignore
CACHED
[internal]
exporting
naming
transferring
writing
